*{
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 16px;
	font-family: "微软雅黑","宋体",sans-serif;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
a{
	text-decoration: none;
}
body{
	background: #fff;
}
img{
	border: none;
}