/*
* @Author: Administrator
* @Date:   2018-01-22 16:54:54
* @Last Modified by:   Administrator
* @Last Modified time: 2018-01-23 01:24:13
*/
@import url(bace.css);
@font-face {
  font-family: 'iconfont';  /* project id 550789 */
  src: url('https://at.alicdn.com/t/font_550789_g54pz6748jckgldi.eot');
  src: url('https://at.alicdn.com/t/font_550789_g54pz6748jckgldi.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_550789_g54pz6748jckgldi.woff') format('woff'),
  url('https://at.alicdn.com/t/font_550789_g54pz6748jckgldi.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_550789_g54pz6748jckgldi.svg#iconfont') format('svg');
}
.iconfont{
	font-family: 'iconfont'; 
}

/* 头部 */
header{
	height: 70px;
	width: 100%;
}
.head{
	width: 1140px;
	height: 70px;
	margin: 0 auto;
	padding: 0 15px;
	overflow: hidden;
	display: flex;
	justify-content: space-between;
}
.head h1{
width: 151px;
height: 41px;
line-height: 70px;
}
.head h1 a{
	display: block;
}
.head h1 a img{
	width: 100%;
	height: 100%;
	display: block;
}
.head .mid{
	width: 510px;
	height: auto;
	margin: auto 0;
}
.head .mid ul{
	display: flex;
	justify-content: space-between;
}
.head .mid ul li a{
	display: block;
	text-decoration: none;
}
.head .mid ul li{
	margin-right: 5px;
}
.head .mid ul li:hover h2{
	color: rgba(0, 0, 0, 0.5);
}
.head .mid ul li a h2{
	width: auto;
	height: auto;
	margin-right: 5px;
	    font-size: 20px;
    font-weight: 400;
    color: #333;
}
.headyou{
	width: 200px;
	height: 41px;
	background: #6BD1D9;
    margin: auto 0 ;
    transform: skew(-15deg,0);
}
.headyou:hover .headyouli{
	background: rgba(28,184,196,0.5);
}
.headyouli{
	width: 180px;
	height: 41px;
	background: #09B3BF;
	margin: 0 auto;
	overflow: hidden;
}
.headyouli h2 {
	font-size: 20px;
	color: #fff;
	font-weight: 700;
	text-align: center;
    padding-bottom: 10px;
    margin : 10px 0;
}
.headyou2{
	width: 25px;
	height: 30px;
	margin: auto 0 ;
	display: block;
}
.headyou2 i{
	font-style: normal;
	font-size: 30px;
	color: #333;
}
/* banner */
.banner{
	margin-top: 30px;
	width: 100%;
	height: 420px;
	background-image: linear-gradient(90deg,#09b3bf,#5fe3c2);
}
.bannerleft{
}
.bannerleft h2{
	font-size: 18.75px;
	font-weight: 300;
	color: #fdfdfd;
}
.bannerleft h2 span{
	
	font-size: 22px;
	font-weight: 600;
	color: #fdfdfd;
}
.bannerleft p{
	font-size: 12.5px;
	font-weight: 400;
	color: #fdfdfd;
}
.bannerright{
	/* background: blue; */
}
.bannerright .brtop{
	width: 495px;
	height: 78px;
	padding: 10px;
    margin-bottom: 15px;
    background: #33C1B6;
    border-radius: 9px;
}
.bannerright .brbot{
	height: 173px;
	 
	display: flex;
	justify-content: space-between;
}
.bannerright .brbot .brtli{
	width: 120px;
	height: 128px;
	margin: 15px ,17.5px, 0;
}
.bannerright .brbot img{
	
}
@media screen and (max-width: 768px) {
	.headyou2 i{
		display: block;
	}
	.headyou{
		display: none;
	}
	.head .mid{
		display: none;
	}
	.bannerleft{
	width: 690px;
	height: 141px;
	padding: 60px 75px 0;
}
.bannerleft h2{
	margin-top:0px;
}
.bannerright{
	/* background: blue; */
	height: 287px;
	width: 690px;
	padding:30px  60px;
	margin: 0;
}
.bannerright .brbot{
	width: 690px;
	padding: 30px 60px;
}
}
@media screen and (min-width: 768px) and (max-width: 992px){
	.headyou2 i{
		display: block;
	}
	.headyou{
		display: none;
	}
	.head .mid{
		display: none;
	}
	.bannerleft{
	width: 690px;
	height: 141px;
	padding: 60px 75px 0;
}
.bannerleft h2{
	margin-top:0px;
}
.bannerright{
	/* background: blue; */
	height: 287px;
	width: 690px;
	padding:30px  60px;
	margin: 0;
}
.bannerright .brbot{
	width: 690px;
	padding: 30px 60px;
}
}
@media screen and (min-width: 992px) and (max-width: 1200px){
	.headyou2 i{
		display: none;
	}
	.headyou{
		display: block;
	}
	.bannerleft{
	height: 420px;
}
.bannerleft h2{
	margin-top:170px;
}
.bannerright{
	/* background: blue; */
	height: 301px;
	width: 550px;
	padding:30px ;
	margin: 59.5px 0;
}
.bannerright .brbot{
	width: 495px;
	padding: 0px 15px; 
}
}
@media screen and (min-width: 1200px) {
	.headyou2 i{
		display: none;
	}
	.headyou{
		display: block;
	}
	.bannerleft{
	height: 420px;
}
.bannerleft h2{
	margin-top:170px;
}
.bannerright{
	/* background: blue; */
	height: 301px;
	width: 550px;
	padding:30px ;
	margin: 59.5px 0;
}
.bannerright .brbot{
	width: 495px;
	padding: 0px 15px; 
}
}
